.wrapper {
 display: flex;
 height: 100%;
 overflow: hidden;
}

.aside {
 width: 230px;
 height: 100%;
 background-color: #f4f4f4;
 flex-shrink: 0;
 height: 100vh; 
 display: flex;
 flex-direction: column;
}

.content {
 flex: 1;
 padding: 20px;
}
